#!/usr/bin/make -f

export PYBUILD_NAME=fakejuju

%:
	dh $@

override_dh_auto_build-indep:
	dh_auto_build --sourcedir=python --buildsystem=pybuild

override_dh_auto_install-indep:
	dh_auto_install --sourcedir=python --buildsystem=pybuild

override_dh_auto_clean:
	dh_auto_clean
	dh_auto_clean --sourcedir=python --buildsystem=pybuild

override_dh_auto_test:
	# Don't run tests
